@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-rgb: 0, 0, 0;
  --sub-text-color-rgb: 107, 114, 128; /* Tailwind text-gray-500 */
  --background-rgb: 255, 255, 255;
  --box-rgb: 249, 250, 251; /* Tailwind bg-gray-50 */
  --table-rgb: 255, 255, 255;
  --table-header-rgb: 229, 231, 235; /* Tailwind bg-gray-200 */
  --tag-picker-input-rgb: 0, 0, 0;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --text-color-rgb: 243, 244, 246;  Tailwind text-gray-100 
    --sub-text-color-rgb: 243, 244, 246;  Tailwind text-gray-100 
    --background-rgb: 38, 38, 38;
    --box-rgb: 48,49,52;
    --table-rgb: 60,64,67;
    --table-header-rgb: 44,44,44;
    --tag-picker-input-text-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--text-color-rgb));
  background: rgb(var(--background-rgb));
}

.custom-left-side{
  background: rgb(var(--box-rgb));
}

.custom-right-side{
  background: rgb(var(--box-rgb));
}

table{
  background: rgb(var(--table-rgb));
}

th{
  background: rgb(var(--table-header-rgb));
}

tr:last-child{
  border-bottom: none;
}

.custom-sub-text{
  color: rgb(var(--sub-text-color-rgb));
}

.rs-picker-search{
  color: rgb(var(--tag-picker-input-text-rgb))
}

.map_leaflet{
  height: 50rem;
  width: 100%;
} */