*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dddddd;
    color: black;
    height: 100px;
    border-bottom: 2px solid #a3a3a3;
}

nav a {
    text-decoration: none;
    margin : 0 30px;
    font-size: 1.4rem;
    color : black;
}

nav .nav-links {
    margin-left: 40px;
}

nav a:hover {
    text-decoration: underline;
    color : #5c5c5c;
}

nav button {
    font-weight: 600;
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: #8d8d8d;
    border : 2px solid #a3a3a3;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-right: 40px ;
}

nav button:hover {
    background-color: #a3a3a3;
    border : 2px solid #a3a3a3;
}

footer {
    display:  flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dddddd;
    color: rgb(104, 104, 104);
    margin-top: 20px;
    height: 80px;
    border-top: 2px solid #a3a3a3;
}

footer a {
    text-decoration: none;
    color: rgb(104, 104, 104);
}

footer a:hover {
    text-decoration: underline;
    color: #5c5c5c;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    margin: auto;
    margin-top: 50px;
    width: 100%;
    max-width: 500px;
}

.login-form form {
    width: 100%;
    max-width: 400px;
    padding : 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.form-group label {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 5px;
}

.form-group input{
    border-radius: 15px;
    height: 55px;
    background-color: #f5f5f5;
    border : 1px solid #a3a3a3;
    font-size: 1.1rem;
    padding : 0 15px 0 15px;
    font-weight: 600;
}

.form-group input:hover {
    background-color: #ebebeb;
    border : 2px solid #dddddd;
}

.detail-poste{
    height: 80px;
    border : 1px solid #a3a3a3;
    border-radius: 10px;
    padding: 10px;

}   

.detail-poste button {
    border-radius: 20px;
    height: 30px;
    background-color: #ffffff;
    border : 1px solid #a3a3a3;
    font-size: 1.1rem;
    padding : 0 15px 0 15px;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.game-detail-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 30px;
}

.game-detail-row div {
    margin-right: 20px;
}

.detail-poste button:hover {
    background-color: #ebebeb;
    border : 1px solid #dddddd;
}

.form-group input:focus {
    background-color: #ffffff;
}

.login-form button {
    border-radius: 20px;
    height: 40px;
    background-color: #aaaaaa;
    border : 1px solid #a3a3a3;
    font-size: 1.1rem;
    padding : 0 15px 0 15px;
    font-weight: 600;
    margin : 20px 10px;
    color: white;
    cursor: pointer;
}


.login-form button:hover {
  background-color: #999999;
  
  border : 2px solid #dddddd;
}

.line a{
    text-decoration: none;
    color: #5c5c5c;
}

.line a:hover{
    text-decoration: underline;
    color: #5c5c5c;
}

.persistCheck{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.persistCheck input{
    margin-right: 10px;
    height: 15px;
}

.form-group-checkbox {
    display: flex;
    flex-direction: row;
    margin : 10px 0;  
}

.accueil-button {
    border-radius: 20px;
    background-color: #b2b2b2;
    border : 1px solid #a3a3a3;
    font-size: 1.3rem;
    padding : 10px 20px;
    margin-top: 10px;
    /* margin-left: 30px; */
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.accueil-button:hover {
  color: #f6f6f6;
  background-color: #b5b5b5;
    border : 1px solid #5a5a5a;
} 

.accueil-frame-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.form-group-checkbox input{
    height: 20px;
    width: 20px;
    margin : 0 10px;
}

.planning-day {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
    max-width: 800px;
    
}

.planning-day-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 60px;
}

.planning-day-header h2 {
    text-align: left;
}

.planning-day-header button {
    border-radius: 20px;
    height: 30px;
    background-color: #ffffff;
    border : 1px solid #a3a3a3;
    font-size: 1.1rem;
    padding : 0 15px 0 15px;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.planning-day-header button:hover {
    background-color: #ebebeb;
    border : 1px solid #dddddd;
}

.planning-day table {
    width: 100%;
    border-radius: 10px;
    border-spacing: 20px;
    border: 1px solid #ddd;
}

.planning-day table td {
    text-align: center;
}

.row-title {
 width: 150px;
 height: 50px;
 border: 1px solid #ddd;
 border-radius: 5px;
}

.row-number {
    padding: 5px 10px;
    width: 100px;
    
}

.cell, .cell-disabled {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #ddd;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planning-table-registering .cell{
    cursor: pointer;
    border: 1px solid #5c5c5c;
}

.planning-table-registering .cell:hover{
    box-shadow: 0px 0px 10px 0px rgba(56, 56, 56, 0.75);
}

.cell-selected{
    background-color: #5c5c5c;
    color: white;
}

.cell-registered {
    background-color: #5c5c5c;
    color: white;
}

.cell-disabled {
    background-color: #b4b4b4;
}

.planning-table-disabled {
    background-color: #f5f5f5;
}

.alert-multi-inscription {
    text-align: left;
    width: 100%;
    min-height: 70px;
    background-color: #f5f5f5;
    border : 2px solid #a3a3a3;
    box-shadow: 0px 3px 3px 0px rgba(56, 56, 56, 0.75);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.flexible-poste-creneau {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeeee;
    border : 2px solid #a3a3a3;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    margin: 10px;
}

.flexible-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flexible-buttons button {
    border-radius: 20px;
    height: 25px;
    width: 100px;
    background-color: #ffffff;
    border : 1px solid #a3a3a3;
    font-size: 1.1rem;
    padding : 0 10px 0 10px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.flexible-content {
    width: 100%;
    padding: 0px 5%;
}

.flexible-buttons button:hover {
    background-color: #ebebeb;
    border : 1px solid #dddddd;
}

.flexible-creneau-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    border : 2px solid #a3a3a3;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}

.flexible-poste-frame {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.row-title:hover {
    border : 1px solid #5c5c5c;
    background-color: #f5f5f5;
}

/* ALEX OTHERSPROFILE CSS */

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .profile-heading {
    margin-bottom: 20px;
    font-size: 24px;
    color: black
  }
  
  .profile-info {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .contact-button {
    padding: 10px 15px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: darkgrey
  }
  



/* ALEX MESSAGES CSS */

.messages-heading {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
  }
  
  .message-list {
    list-style: none;
    padding: 0;
    text-align: left;
    min-width: 500px;
    text-wrap: normal;
    max-width: 700px;
  }

  /*On phones, the message list will be full width*/
    @media (max-width: 500px) {
        .message-list {
        min-width: 100%;
        max-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        }
    }
  
  .message-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
  }
  
  .message-header {
    font-size: 16px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
  }
  
  .message-date {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
  }
  
  .message-content {
    font-size: 16px;
  }

  .reply-button {
    font-weight: 600;
    font-size: 0.7rem;
    padding: 3px 6px;
    border-radius: 20px;
    border : 2px solid #a3a3a3;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #8d8d8d;
    margin-bottom: 10px;
  }

  .reply-button:hover {
    background-color: darkgrey
  }
  

/* ALEX MESSAGE USER CSS */

.message-user-container-mu {
    max-width: 700px;
    min-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .confirmation-mu {
    text-align: center;
  }
  
  .message-content-mu {
    text-align: left;
  }
  
  .message-header-mu {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .message-body-mu {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
  }
  
  .buttons-mu {
    display: flex;
    justify-content: space-between;
  }
  
  .cancel-button-mu,
  .send-button-mu {
    font-weight: 600;
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 20px;
    border : 2px solid #a3a3a3;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }
  
  .cancel-button-mu {
    background-color: #8d8d8d;
  }
  
  .send-button-mu {
    background-color: #8d8d8d;
    color: #fff;
  }

  .send-button-mu:hover {
    background-color: darkgrey
  }

  .cancel-button-mu:hover {
    background-color: darkgray
  }
  
  .all-benev-button {
    font-weight: 600;
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 20px;
    border : 2px solid #a3a3a3;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #8d8d8d;
    margin-bottom: 10px;
  }

  .all-benev-button:hover {
    background-color: darkgrey
  }


/* Style for the select container */
.select-container-mu {
  margin-bottom: 20px;
}

/* Style for the select element */
.select-element-mu {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

/* Style for the select options */
.select-element-mu option {
  font-size: 16px;
}

.rgpd-button {
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 18px;
  border-radius: 20px;
  border : 2px solid lightcoral;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 51, 51);
  margin-bottom: 10px;
}

.rgpd-button:hover {
  background-color: red
}

.delete-msg-button {
  font-weight: 600;
  font-size: 0.7rem;
  padding: 3px 6px;
  border-radius: 20px;
  border : 2px solid #7B433D;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #94544D;
  margin-bottom: 10px;
}

.delete-msg-button:hover {
  background-color: darkred
}

.game-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h2-game {
  font-size: 24px;
  margin-bottom: 10px;
}

.img-game {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.p-game {
  margin-bottom: 10px;
}


.a-game {
  color: darkblue;
  text-decoration: none;
  font-weight: bold;
}

.a-game:hover {
  text-decoration: underline;
}

.tags-container {
  margin-top: 10px;
}

.tags-container span {
  display: inline-block;
  background-color: darkslategray;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 5px;
}

.video-container {
  margin-top: 10px;
}


.games-container-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.games-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.game-item-list {
  width: 100%;
  max-width: 300px;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-item-list img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

